* {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;

}


body {
    background-color: #FFD6B0;

}


#navbar {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    list-style: none;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: #CE8D5E;
    border-bottom: 2px solid black;
    z-index: 10;

}
#logo{
    padding-top: 5px;
    margin: 0;
    height: 65px;
}

#navbar li {
    flex: 1;
    padding: 20px;
    color: black;
    text-align: center;
}

li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.bloggBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 90px;
}



.blogg {
    background-color: #FFEBCD;
    width:65vw;
    height:30vh;
    position: relative;
    /* text-align: center; */
    border-radius: 5px;
    flex-direction: column;
    text-align: left;
    padding:10px;
    margin-bottom: 10px;
}

.bloggInnlegg {
    width: 65vw;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.text {
    width:65%;
}

.text h5 {
    margin-bottom: 10px;
}

.blogg img {
    position: absolute;
    width: 30%;
    height: 90%;
    top: 50%;
    bottom: 50%;
    right: 10px;
    transform: translate(0, -50%);
}

#bloggOversikt {
    background-color: #FFEBCD;
    width: 25vw;
    height: 400px;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    position: fixed;
    right: 10px;
}

#bloggOversikt li {
    list-style-type: none;
    padding: 10px;
    line-height: 50px;
}


@media screen and (max-width: 1000px) {
    #bloggOversikt {
        display: none;
    }

    .bloggInnlegg {
        width: 98%; 
    }

    .blogg {
        width: 98%;
    }
       
    
}

p:first-child{
    font-weight: bold;
    font-size: larger;
}

.bloggDato {
    position: absolute;
    bottom: 0;
    font-size: smaller;
    left: 5px;
}