.bloggBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 75px;
}



.blogg {
    background-color: #FFEBCD;
    width:65vw;
    height:30vh;
    position: relative;
    /* text-align: center; */
    border-radius: 5px;
    flex-direction: column;
    text-align: left;
    padding:10px;
    margin-bottom: 10px;
}

.bloggInnlegg {
    width: 65vw;
    display: flex;
    flex-direction: column;
}

.blogg img {
    position: absolute;
    width: 30%;
    height: auto;
    top: 50%;
    bottom: 50%;
    right: 10px;
    transform: translate(0, -50%);
}

#bloggOversikt {
    background-color: #FFEBCD;
    width: 30vw;
    height: 500px;
    text-align: center;
    border-radius: 5px;
}

#bloggOversikt li {
    list-style-type: none;
    padding: 10px;
}

@media screen and (max-width: 1000px) {
    #bloggOversikt {
        display: none;
    }

    .bloggInnlegg {
        width: 100%; 
    }

    .blogg {
        width: 100%;
    }
       
    
}

p:first-child{
    font-weight: bold;
}

.bloggDato {
    position: absolute;
    bottom: 0;
    font-size: smaller;
    left: 5px;
}