
.image-container > img {
  width: 60%;
  border-radius: 5%;
  transition: 0.5s;
  margin-bottom: 30px;
}

html {
  height: 100%;
  width: 100%;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.contentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 50px;
  margin-bottom: 200px;
  margin-top: 90px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.box {
  display: flex;
  width: 80%; 
  min-height: 300px;
  column-gap: 20px;
  background-color:  #FFEBCD; 
  padding: 20px; 
  border-radius: 15px;
  justify-content: space-between;
}

.box img {
  width: 250px; 
  height: 250px;
}

.box h2 {
  font-size: 20px; 
  color: #333; 
}

.box p {
  font-size: 16px; 
  color: #666; 
}
.page-title {
  font-size: 24px;
  color: black;
  text-align: center; 
  padding-top: 300px;
}

.content {
  font-size: 16px;
  color: black;
  text-align: center;
}