
h2 {
  font-family: Helvetica, arial, sans-serif;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

h3 {
  font-size: 14px;
  font-style: italic;
  margin: 5px;
}

html {
  height: 100%;
  width: 100%;
}

#byline {
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #FFD6B0;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: rgb(55, 33, 18);
}

figure {
  text-align: center;
  font-style: italic;
}

img {
  width: 60%;
  border-radius: 5%;
  transition: 0.5s;
  margin-bottom: 30px;
}

table,
th,
td {
  border: 2px solid black;
}

table {
  padding: 20px;
}

/* img:hover{
    transform: scale(1.1);
} */

.tittel {
  font-size: 18px;
  font-weight: bold;
  color: rgb(69, 38, 22);
}

section {
  border: 2px;
  border-style: dotted;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
}


/*christina*/

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  row-gap: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.contentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 50px;
  margin-bottom: 200px;
  margin-top: 100px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.box {
  display: flex;
  width: 80%; 
  height: 300px;
  background-color:  #FFEBCD; 
  padding: 20px; 
  border-radius: 15px;
  justify-content: flex-end;
  align-items: flex-end;
}

.box img {
  width: 250px; 
  height: 250px;
}

.box h2 {
  font-size: 20px; 
  color: #333; 
}

.box p {
  font-size: 16px; 
  color: #666; 
}
.page-title {
  font-size: 24px;
  color: black;
  text-align: center; 
}

.content {
  font-size: 16px;
  color: black;
  text-align: center;
}

.img-logo {

}

.footer-iframe {
  width: 100%;
  height: 250px;
}

.footer-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color:#7D8E77;
  color: black;
  height: 350px;
  font-size: 12px;
  line-height: 0.5; 
  overflow: hidden;
}

.inner-footer-container {
  padding: 1%;
  height: 100%;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px; 
}

.footer-contact {
  display: flex;
  flex-direction: column;
}
.footer-contact1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 9px;
  line-height: 0.5; 
  margin-bottom: 20px; 
}

.footer-contact2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 9px;
  line-height: 0.5;  
}

.language-container {
  display: flex;
}

.language-text {
  font-size: 10px;
}

.footer-divider {
  width: 100%;
  border-bottom: 1px solid rgb(29, 25, 25);
  margin: 10px 0;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}

.footer-social-icons {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  justify-content: space-between;
}

.footer-social-icons a svg {
  width: 20px; 
  height: 20px; 
}
/*christina*/