
/* Her er oppskrifts siden */

#genser, #skjerf, #lue {
    font-size:x-large;
    margin: 10px;
    order: 1;
}

.overskrift {
    margin: 10px auto;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    width: 80%;   
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: xx-large;
    line-height: 40px;
}

#genser-ul, #skjerf-ul, #lue-ul {
    line-height: 30px;
    list-style-type: none;
    margin: 10px 0;
    padding: 20px;
    border-radius: 25px;
    width: 400px;
}

#genser-ul li, #skjerf-ul li, #lue-ul li {
    margin-bottom: 20px;
}


.bilder {
    margin-left: auto;
    width: 500px;
    max-width: 100%;       
}

#genser-bilde, #cardigan-bilde, #basic-skjerf, #hege-bilde, #skjerf-grått, #basic-bilde, #skjerf-hvitt, #skjerf-sophie, #skjerf-dina, #lue-grønn, #tynnribb-lue, #cranberry-lue, #min-mote-lue{
    width: 200px;
    
}

ul li:first-child {
    list-style-type: none;
}



@media screen and (min-width: 770px) and (max-width: 960px){
    .bilder {
        width: 200px;
    }
}

@media screen and (max-width: 500px){
    #genser-ul, #skjerf-ul, #lue-ul {
        width: 100%; 

    }
    .oppskriftBoks {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

}



@media screen and (max-width: 768px) {
    .boks, .boks2, .boks3 {
        display: flex;
        flex-direction: column;
    }
    #fjern {
        display: none;
    }
}
