* {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;

}


body {
    background-color: #FFD6B0;
}


#navbar {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    list-style: none;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: #CE8D5E;
    border-bottom: 2px solid black;
    z-index: 10;

}
#logo{
    padding-top: 5px;
    margin: 0;
    height: 65px;
}

#navbar li {
    flex: 1;
    padding: 20px;
    color: black;
    text-align: center;
}

li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

/* Dropdown styles */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#FFD6B0;
    border: 1px solid black;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
    display: block;
    overflow: auto;
}


/* Her starter selve siden */


main {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    margin-top: 80px;
}


/* Her er oppskrifts siden */


#genser, #skjerf, #lue {
    font-size:x-large;
    margin: 10px;
    order: 1;
}

 .overskrift {
    margin: 10px auto;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    width: 80%;   
    justify-content: center;
    align-items: center;
    text-align: center;
 }

 h1 {
    font-size: xx-large;
    line-height: 40px;

 }

 #genser-ul, #skjerf-ul, #lue-ul {
    line-height: 30px;
    list-style-type: none;
    margin: 10px 0;
    padding: 20px;
    border-radius: 25px;
    width: 400px;
 
 }
 #genser-ul li, #skjerf-ul li, #lue-ul li {
    margin-bottom: 20px;
 }

.boks, .boks2, .boks3 {
    margin: 10px auto;
    border: 3px solid;
    padding: 20px;
    border-radius: 25px;
    background-color: #FFEBCD;
    display: flex;
    flex-direction: row;
    width: 80%;   
    
}



.bilder {
    margin-left: auto;
    width: 500px;
    max-width: 100%;
  
        
}

#genser-bilde, #cardigan-bilde, #basic-skjerf, #hege-bilde, #skjerf-grått, #basic-bilde, #skjerf-hvitt, #skjerf-sophie, #skjerf-dina, #lue-grønn, #tynnribb-lue, #cranberry-lue, #min-mote-lue{
    width: 200px;
    
}





ul li:first-child {
    color: #CE8D5E;
    list-style-type: none;
}



@media screen and (min-width: 770px) and (max-width: 960px){
    .bilder {
        width: 200px;
    }
}

@media screen and (max-width: 500px){
    #genser-ul, #skjerf-ul, #lue-ul {
        width: 100%; 

    }
    .boks, .boks2, .boks3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

}



@media screen and (max-width: 768px) {
    .boks, .boks2, .boks3 {
        display: flex;
        flex-direction: column;
    }
    #fjern {
        display: none;
    }
}
